@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}
:root {
  --button-clr: #ffd401;
  --tooltip-clr: #333333;
  --black: #000;
  --white: #fff;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background: none;
}
body {
  overflow-x: hidden;
}

/* HEADER CSS */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  padding: 45px 13px 22.5px;
  /* margin: 0 36px; */
  z-index: 10;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 72px);
    margin: 0 auto;

    .logo img {
      width: 135px;
    }

    .navbar {
      display: flex;
      align-items: center;
      justify-content: center;

      .navbar-wrapper {
        display: flex;
        align-items: center;
        /* margin: 0 36px; */
      }
      .navbar-options {
        padding-right: 2rem;
        display: flex;
        gap: 2rem;

        a {
          color: var(--white);
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
        }
      }
      .navbar-btn {
        width: 180px;
        height: 45px;
        background-color: var(--button-clr);
        padding: 13.5px 22.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;

        p {
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          color: var(--tooltip-clr);
        }
      }
    }

    .hamburger {
      background: none;
      border: none;
      cursor: pointer;
    }

    .hamburger img {
      width: 40px;
    }
  }
}

/* SLIDER CSS */
/* Slider Images */
.slide-area {
  position: relative;
  width: 100vw;
  height: 100vh;

  ul li img {
    width: 100%;
    height: 100vh;
  }
}

/* Text Animation */
@keyframes slideInOut {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide_description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .description_title {
    background: linear-gradient(to right, #fff 0%, #f5f5f5 100%);
    background-clip: text; /* arka plan sadece metin üzerinde uygulansın. */
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 40px;
    line-height: 56.15px;
    padding-bottom: 1rem;
  }
  .description_btn {
    background-color: var(--button-clr);
    border: none;
    padding: 13.5px 22.5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--black);
    position: relative;
    overflow: hidden;

    /* hover olduğunda animasyonu uygula */
    &:hover p {
      animation: slideInOut 0.7s ease;
    }

    p {
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
  }
}

/* Slider Arrows Customization */
.splide__arrow {
  background-color: var(--black);
  opacity: 50%;
  border: none;
  border-radius: 0;
  width: 54px;
  height: 54px;
  cursor: pointer;

  svg {
    fill: white;
    width: 18px;
    height: 18px;
  }
}
.splide__arrow--prev {
  left: 52px;
  transform: rotate(180deg);
}
.splide__arrow--next {
  right: 52px;
  transform: rotate(360deg);
}

/* Scroll Icon */
.scroll-icon-container {
  position: absolute;
  top: 73%;
  left: 50%;
  width: 22.5px;
  height: 36px;
  border: 2px solid var(--white);
  border-radius: 2.5rem;

  .scroll-icon {
    width: 8.1px;
    height: 8.1px;
    border-radius: 50px;
    background-color: var(--button-clr);
    position: absolute;
    top: 20%;
    left: 30%;
  }
}

/* FlagS Slider */
.flag-splide {
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 50%;
  transform: translate(-50%);
  bottom: 3rem;

  ul li img {
    width: 45px;
    height: 45px;
  }

  .flag-item {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .flag-info {
      top: -40px;
      z-index: 999;
      background: white;
      border-radius: 5px;
      padding: 5px 10px;
      white-space: nowrap;
      opacity: 0;
      transition: all 0.4s;
      font-weight: 500;
      font-size: 0.8rem;

      span{
        font-weight: 600;
      }
    }
  }

  .flag-item img:hover + .flag-info {
    opacity: 1;
  }
}

/* ABOUT */
.about {
  margin-top: 5rem;
  padding: 5rem;
  position: relative;
}

.bg-wave {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;

  img {
    width: 100%;
  }
}

.bg-map {
  max-height: 100%;
  width: 100vw;
  z-index: -1;
  bottom: -18rem;
  position: absolute;
  pointer-events: none;
  left: 0;

  img {
    width: 100%;
  }
}
.container {
  margin: auto;
}

.container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 2;
  text-align: center;
}

.content-title h2 {
  font-size: 4rem;
  font-weight: 900;
}

.content-title h3 {
  font-size: 3rem;
  font-weight: 600;
  white-space: nowrap;
}

.content-title h2,
.content-title h3 {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90.08deg, #173d70 0.07%, #108dcd 99.94%);
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1em;
}

.content-desc {
  font-size: 1.6rem;
  font-weight: 300;
}

.content-button {
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;

  &::before {
    background-color: #ffc107;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease;
    width: 35%;
    z-index: 0;
  }

  &:hover:before {
    transition: all 0.3s ease;
    width: 100%;
  }

  button {
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    padding: 5px 10px;
    background: none;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
  }
}

/* GRID */

.projects-container {
  .grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-item:nth-child(n) {
    grid-row: span 2;
    height: 32rem;
  }

  .grid-item:nth-child(2n) {
    grid-row: span 1;
    height: 15rem;
  }

  .grid-item:nth-child(3n) {
    grid-row: span 1;
    height: 15rem;
  }

  .solar-card {
    display: flex;
    align-items: flex-end;
    height: 100%;
    min-height: 15rem;
    overflow: hidden;
    padding: 2rem;
    position: relative;
    width: 100%;

    &:hover img {
      scale: 1.1;
    }

    .card-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;
    }

    .card-image {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.4s ease;
      }
    }

    .content-title {
      font-weight: 600;
      font-size: 1.8rem;
      color: white;
      z-index: 3;
    }

    .card-button button {
      background: #ffc107;
      padding: 0.5rem 1.5rem;
      font-size: 0.9rem;
    }
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

/* VIDEO */
.video {
  height: 50vh !important;
  position: relative;
  margin-top: 4rem;

  .video-bg {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .container {
    height: 100%;

    .video-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      gap: 2rem;

      .video-content-title {
        color: white;
        font-size: 4rem;
        white-space: nowrap;
        font-weight: 600;
        line-height: 1em;
        text-align: center;
      }
    }

    .play {
      width: 8rem;
    }
  }
}

/* FOOTER */
.footer {
  padding-top: 3rem;
  background: linear-gradient(to right, white 50%, #ebebeb 50%);

  .footer-wrapper {
    display: flex;

    .footer-left {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
      flex: 1;

      .footer-logo {
        max-width: 14rem;

        img {
          object-fit: contain;
          width: 100%;
        }
      }

      .footer-nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        a {
          color: #a8a8a7;
          font-size: 1rem;
          font-weight: 700;
          transition: all 0.3s;
          &:hover {
            color: #173d70;
          }
        }
      }
    }

    .footer-right {
      display: flex;
      flex-direction: column;
      padding-left: 14rem;
      flex: 1;

      img {
        width: 100px;
      }

      .footer-news {
        .top {
          align-items: center;
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;

          .top-title {
            color: #a8a8a7;
            font-weight: 600;
            span {
              font-weight: 400;
            }
          }

          .social {
            align-items: center;
            display: flex;
            gap: 3rem;
          }
        }

        .input {
          background: white;
          padding: 1rem;
          display: flex;
          justify-content: space-between;

          input {
            background: none;
            outline: none;
            border: none;
            width: 100%;
            font-size: 1rem;
          }
        }
      }
      .info {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0;
        text-align: right;
        color: #333333;
      }
    }
  }

  .footer-bottom {
    margin-top: 4rem;
    border-top: 0.1rem solid #dbdbdb;
    color: #a8a8a7;
    font-size: 1rem;
    font-weight: 300;
    padding: 1.5rem 0;

    .bottom-wrapper {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  a {
    color: #333333;
  }
}

/* RESPONSIVE */
html {
  font-size: 13px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  html {
    font-size: 13px !important;
  }
}

@media (min-width: 768px) {
  header .logo img {
    width: 180px !important;
  }

  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .slide-area {
    height: 50vh;
    ul li img {
      height: 50vh;
    }
  }

  .flag-splide ul li img {
    width: 27px;
    height: 27px;
  }

  .description_title {
    font-size: 20px !important;
  }

  .description_btn {
    font-size: 14px !important;
    padding: 5px 10px !important;
  }

  .splide__arrow {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  html {
    font-size: 16px !important;
  }
}

@media (max-width: 992px) {
  .projects-container {
    padding: 20px;
  }
  .grid {
    grid-template-columns: 1fr !important;
  }
  .grid-item:nth-child(n),
  .grid-item:nth-child(2n),
  .grid-item:nth-child(3n) {
    grid-row: unset !important;
    height: unset !important;
  }
}

@media (max-width: 1024px) {
  .footer {
    background: #ebebeb !important;
    padding: 3rem 2rem;
  }

  .footer-wrapper {
    flex-direction: column !important;
    gap: 4rem;
  }

  .footer-right {
    display: flex;
    justify-content: space-between !important;
    padding-left: 0rem !important;
  }

  .footer-news {
    align-self: unset !important;
  }
}

@media (min-width: 1200px) {
  header .logo img {
    width: 222px !important;
  }

  .hamburger {
    display: none;
  }

  .container {
    max-width: 1140px;
  }

  html {
    font-size: 20px !important;
  }
}

@media (max-width: 1200px) {
  header nav {
    display: none !important;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (max-width: 1400px) {
  .video-content {
    flex-direction: column;
  }
}
